
.hori-timeline .events {
    border-top: 3px solid #e9ecef;
}
.hori-timeline .events .event-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
}
.hori-timeline .events .event-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #dee2e6;
    top: 0;
}
.hori-timeline .events .event-list .event-date {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    width: 75px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 2px 4px;
}
@media (min-width: 1140px) {
    .hori-timeline .events .event-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;
    }
    .hori-timeline .events .event-list .event-date {
        top: -12px;
    }
}
.bg-soft-primary {
    background-color: rgba(64,144,203,.3)!important;
}
.bg-soft-success {
    background-color: rgba(71,189,154,.3)!important;
}
.bg-soft-danger {
    background-color: rgba(231,76,94,.3)!important;
}
.bg-soft-warning {
    background-color: rgba(249,213,112,.3)!important;
}
.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}




.main-timeline{
    position: relative;
}
.main-timeline:before{
    content: '';
    height: 100%;
    width: 2px;
    border: 3px dashed #999;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;
}
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: 50.05%;
    display:inline-block;
    float: left;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: '';
    background-color: #E53E35;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -12px;
}
.main-timeline .timeline:after{
    height: 17px;
    width: 150px;
    border-radius: 0;
    right: 0;
}
.main-timeline .timeline-content{
    text-align: right;
    min-height: 155px;
    padding: 20px 230px 15px 12px;
    display:block;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-year{
    color: #E53E35;
    background-color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    height: 120px;
    width: 120px;
    border: 5px solid #E53E35;
    transform: translateY(-50%);
    position: absolute;
    right: 100px;
    top: 50%;
    z-index: 1;
}
.main-timeline .title{
    color: #E53E35;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0 0 5px;
}
.main-timeline .description{
    color: #101010;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){ float: right; }
.main-timeline .timeline:nth-child(even):before{
    right: auto;
    left: -12px;
}
.main-timeline .timeline:nth-child(even):after{
    right: auto;
    left: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
    padding: 20px 12px 15px 230px;
    text-align: left;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    right: auto;
    left: 100px;
}
.main-timeline .timeline:nth-child(5n+2):before,
.main-timeline .timeline:nth-child(5n+2):after{
    background-color: #934666;
}
.main-timeline .timeline:nth-child(5n+2) .timeline-year{
    color: #934666;
    border-color: #934666;
}
.main-timeline .timeline:nth-child(5n+2) .title{ color: #934666; }
.main-timeline .timeline:nth-child(5n+3):before,
.main-timeline .timeline:nth-child(5n+3):after{
    background-color: #1CA685;
}
.main-timeline .timeline:nth-child(5n+3) .timeline-year{
    color: #1CA685;
    border-color: #1CA685;
}
.main-timeline .timeline:nth-child(5n+3) .title{ color: #1CA685; }
.main-timeline .timeline:nth-child(5n+4):before,
.main-timeline .timeline:nth-child(5n+4):after{
    background-color: #F05386;
}
.main-timeline .timeline:nth-child(5n+4) .timeline-year{
    color: #F05386;
    border-color: #F05386;
}
.main-timeline .timeline:nth-child(5n+4) .title{ color: #F05386; }
@media screen and (max-width:990px){
    .main-timeline .timeline-year{ right: 30px; }
    .main-timeline .timeline-content{ padding: 15px 160px 15px 15px; }
    .main-timeline .timeline:nth-child(even) .timeline-year{ left: 30px; }
    .main-timeline .timeline:nth-child(even) .timeline-content{ padding: 15px 15px 15px 160px; }
}
@media screen and (max-width:767px){
    .main-timeline:before{
        transform: translateX(0);
        left: -3px;
    }
    .main-timeline .timeline{
        width: 100%;
        margin-bottom: 20px;
    }
    .main-timeline .timeline:before,
    .main-timeline .timeline:after,
    .main-timeline .timeline:nth-child(even):before,
    .main-timeline .timeline:nth-child(even):after{
        transform: translateY(0);
        top: 14px;
    }

    .main-timeline .timeline:before,
    .main-timeline .timeline:after{
        right: auto;
        left: -12px;
    }
    .main-timeline .timeline:after{ left: 0; }
    .main-timeline .timeline:after,
    .main-timeline .timeline:nth-child(even):after{
        width: 50px;
        top: 17px;
    }
    .main-timeline .timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        text-align: left;
        padding: 70px 10px 10px 20px;
    }
    .main-timeline .timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        line-height: 40px;
        height: 50px;
        width: 120px;
        border-width: 5px;
        transform: translateY(0);
        top: 0;
        left: 45px;
    }
}